<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="chairaapp chairaudla udla Universidad de la amazonia chaira"
    />
    <meta
      name="description"
      content="WEB de descarga para la aplicacion ChairaAPP."
    />
    <meta name="author" content="ChairaAPP" />

    <title>CHAIRA MOBILE</title>
    <link rel="shortcut icon" href="./images/toucan.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-fluid">
      <div style="justify-content: center" class="row">
        <div class="col-md-7">
          <img src="./images/404.jpg" width="100%" alt="" />
        </div>
      </div>
      <h1 class="text-center">ERROR 404</h1>
      <div style="justify-content: center" class="row">
        <a href="/" class="text-center btn-404">Volver al Inicio</a>
      </div>
    </div>
  </body>
</html>
